<div class="container" id="navBar">
    <h4 class="ten columns" id="pageTitle">FlashDeck | <%= pageTitle %></h4>
    <div class="two columsn" id="navButtons">
        <a href="/"><input class="button hvr-grow" type="submit" value="Home"></a>
        <a href="/flashcards"><input class="button hvr-grow" type="submit" value="View Deck"></a>
    </div>
</div>