<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashDeck | <%= pageTitle %></title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script defer src="/script.js"></script>
    <!-- ============= FONTS ============= -->
    <!-- ============= STYLES ============= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <%- include('../views/partials/nav.ejs') %>
    <div class='container' id='homepageBody'>
        <h1>Welcome to Flashdeck!</h1>
        <h4>The interactive, user created flashcard study tool for all those new to programming.</h4>
        <div id='homepageSelections'>
            <div class='homepageImageLinks hvr-float-shadow'>
                <a href='/flashcards'>
                    <img src=https://images.freeimages.com/images/large-previews/63d/index-card-1413900.jpg alt='See the Deck'>
                    <h4>See the Deck</h4>
                </a>
            </div>
            <div class='homepageImageLinks hvr-float-shadow'>
                <a href='/flashcards/new'>
                    <img src=https://images.freeimages.com/images/large-previews/63d/index-card-1413900.jpg alt='Add a New Card'>
                    <h4>Add a New Card</h4>
                </a>
            </div>
        </div>
    </div>
</body>
<%- include('../views/partials/footer.ejs') %>