<%- include('../views/partials/head.ejs') %>
<body>
    <%- include('../views/partials/nav.ejs') %>
    <h1>Welcome to Flashdeck!</h1>
    <a href='/'>Home</a><br>
    <a href='/flashcards'>See all cards</a>
</body>
</html>