<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>All Flashcards</h1>
    <ul>
        <% flashcards.forEach(flashcard => { %>
            <li>
                <a href='/flashcards/<%= flashcard._id %>'><%= flashcard.title %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>