<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add a new Flashcard</h1>
    <form action='/flashcards' method='POST'>
        Word or Concept: <input type='text' name='title' placeholder='Word/Concept' /><br>
        Definition: <input type='text' name='definition' placeholder='Definition/Description' /><br>
        References (enter URLs separated by a comma): <input type='text' name='referenceURLs' placeholder='Enter URLs separated by a comma' /><br>
        Tags (separated by a comma): <input type='text' name='tags' placeholder='Enter tag words separated by a comma' /><br>
        <input type='submit' value='Add New Flashcard' />
    </form>
</body>
<%- include('../partials/footer.ejs') %>