<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashDeck | <%= pageTitle %></title>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script defer src="/script.js"></script>
    <!-- ============= FONTS ============= -->
    <!-- ============= STYLES ============= -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class='container' id='newBody'>
        <h1>Add a New Flashcard</h1>
        <form action='/flashcards' method='POST'>
            <div class='row'>
                <div class='label'>Word or Concept</div>
                <input type='text' name='title' placeholder='Word/Concept' autocomplete='off' required='true'>
            </div>
            <div class='row'>
                <div class='label'>Definition</div>
                <textarea rows='20' name='definition' placeholder='Definition/Description' autocomplete='off' required='true'></textarea>
            </div>
            <div class='row'>
                <div class='label'>Tags/Keywords <span>(separated by a comma)</span></div>
                <input type='text' name='tags' placeholder='Enter tag words separated by a comma' autocomplete='off'>
            </div>
            <div class='row'>
                <div class='label'>References <span>(separated by a comma)</span></div>
                <textarea rows='20' name='referenceURLs' placeholder='Enter URLs separated by a comma' autocomplete='off'></textarea>
            </div>
            <div id='bottomRow'>
                <input type='submit' value='Add New Card' class='hvr-grow'>
            </div>
        </form>
    </div>
</body>
<%- include('../partials/footer.ejs') %>